@charset "UTF-8";

// Fonts

$font-family-headings: "Gotham Bold", Helvetica, Arial, sans-serif;
$font-family-themify: "themify";

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#222;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-darker</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#333;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-dark</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#555;"><br><br><br><br><br></div>
      <pre class="text-center">$gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#999;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-light</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#eee;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-lighter</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f04894;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#c60077;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-primary</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#b2d539;width:50%;float:left;"><br><br><br><br><br></div>
      <div style="background:#80bf39;width:50%;float:left;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-success</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5bc0de;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-info</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f0ad4e;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-warning</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d9534f;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-danger</pre>
    </div>

  </div>
</div>

`$brand-success` and `$brand-primary` have a `-dark` variant.

*/

$brand-success-dark: #80bf39;
$brand-primary-dark: #c60077;

$pampas: #ebe7e3;
$silver-rust: #cbc3ba;
$crusta: #f88132;


/*doc
---
title: A Capella colors
name: b-acapella-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#00a3e0;"><br><br><br><br><br></div>
      <pre class="text-center">$pacific-blue</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f98233;"><br><br><br><br><br></div>
      <pre class="text-center">$burnt-orange</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#661e3e;"><br><br><br><br><br></div>
      <pre class="text-center">$pompadour</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#59514e;"><br><br><br><br><br></div>
      <pre class="text-center">$tundora</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f14995;"><br><br><br><br><br></div>
      <pre class="text-center">$french-rose</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#ece8e4;"><br><br><br><br><br></div>
      <pre class="text-center">$wild-sand</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#ccc4bb;"><br><br><br><br><br></div>
      <pre class="text-center">$chrome-white</pre>
    </div>

  </div>
</div>
*/

$pacific-blue: #00a3e0;
$burnt-orange: #f98233;
$pompadour: #661e3e;
$tundora: #59514e;
$french-rose: #f14995;
$wild-sand: #ece8e4;
$chrome-white: #ccc4bb;

// special colors
$input-bg: #f5f3f1;
$wild-sand-variant: #ebe7e3;
$outrageous-orange: #f26130;
$vivid-violet: #702281;

$white: #fff;
$black: #000;