@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham-Bold.svg#6a327a217ddd10461b1acdc4d224fee0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'themify';
  src: url('../fonts/themify.eot'); /* IE9 Compat Modes */
  src: url('../fonts/themify.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/themify.woff') format('woff'), /* Modern Browsers */
       url('../fonts/themify.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/themify.svg#e434f84c8af9c05379776ecc4a0c244d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

// Init ------------------------------------
@import 'a-capella-mixins';
@import 'a-capella-variables';
@import 'bootstrap-variables';
@import 'bootstrap';

@import '../../bower_components/font-awesome/scss/font-awesome';

// LAYOUT ----------------------------------
@import 'layout/buttons';
@import 'layout/code';
@import 'layout/form';
@import 'layout/icons';
@import 'layout/images';
@import 'layout/tables';
@import 'layout/typography';

// COMPONENTS -------------------------------
@import 'components/alerts';
@import 'components/badges';
@import 'components/breadcrumb';
@import 'components/button-groups';
@import 'components/input-groups';
@import 'components/jumbotron';
@import 'components/labels';
@import 'components/list-group';
@import 'components/media';
@import 'components/nav';
@import 'components/navbar';
@import 'components/pager';
@import 'components/paginations';
@import 'components/panels';
@import 'components/progress-bar';
@import 'components/thumbnails';
@import 'components/well';

// JAVASCRIPT WIDGET -------------------------
@import 'javascript/alert';
@import 'javascript/buttons';
@import 'javascript/carousel';
@import 'javascript/collapse';
@import 'javascript/dropdown';
@import 'javascript/modal';
@import 'javascript/popover';
@import 'javascript/scrollspy';
@import 'javascript/tab';
@import 'javascript/tooltips';

// CUSTOM COMPONENTS -------------------------
@import 'components/links';
@import 'layout/helpers';
@import 'layout/header';
@import 'layout/footer';

@import 'layout/blocks';
@import 'layout/content';

@import 'components/block';
@import 'layout/article';
@import 'layout/basic_page';
@import 'layout/link';
@import 'layout/person';
@import 'layout/project';
@import 'layout/resource';
// <here> don't remove this comment