@charset "UTF-8";

/*doc
---
title: Home-banner
name: home-banner
category: Components - Home-banner
---

Change to `.container` on site.

```html_example
<div class="home-banner container-fluid">
  <a href="#">
  	<h4>Langage pa rlé complété ou LPC,<br>qu’est-ce que c’est ?</h4>
  	<span class="btn btn-success btn-sm">Découvrir le LPC</span>
  </a>
</div>
```
*/

.home-banner {
  background: url(../img/hand-banner.png) no-repeat center center;
  height: 160px;
  text-align: center;
  h4 {
	  color: #fff;
	  padding-top: 52px;
	  line-height: 1.4;
	}
  a {
    display: block;
    text-decoration: none;
  }
  .btn {
    margin-top: 4px;
  }
}