@charset "UTF-8";

/*doc
---
title: Jumbotron
name: a-jumbotron
category: Components - Jumbotron
---

```html_example
<div class="jumbotron">
  <div class="image-container">
    <img src="img/header-image.jpg" alt="Alt">
  </div>
  <div class="jumbotron-container">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Favoriser l’intégration des sourds et malentendants avec l’aide du LPC</h1>
          <p><a class="btn btn-primary" role="button">En savoir plus</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
```
*/

.jumbotron {
  color: $white;
  padding: 0;
  position: relative;
  margin-bottom: 0;
  background-color: $wild-sand;
  img {
    width: 100%;
    height: auto;
  }
  @media only screen and (min-width: $screen-sm-min) {
    .jumbotron-container {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .container, .container-fluid {
    position: relative;
    z-index: 10;
    @media only screen and (max-width: $screen-xs-max) {
      background: $vivid-violet;
    }
  }
  h1 {
    text-shadow: 0 0 8px $vivid-violet;
    font-size: $font-size-h1;
    @media only screen and (max-width: $screen-xs-max) {
      font-size: $font-size-h1/1.5;
    }
  }
  .image-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    &.narrow {
      max-width: 1280px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 190px;
      @media only screen and (max-width: $screen-xs-max) {
        height: 60px;
      }
      width: 100%;
      z-index: 1;
      background: linear-gradient(to bottom,  rgba(112,34,129,0) 0%,rgba(112,34,129,0) 25%,rgba(112,34,129,1) 100%);
    }
  }
}

.shifted {
  position: absolute;
  bottom: -35px;
}
