.field-name-body {
  img {
    @extend .center-block;
  }
}

.more-link {
  margin-bottom: 15px;
  @media only screen and (min-width: $screen-sm-min) {
    position: absolute;
    right: 15px;
    top: -58px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    text-align: right;
  }
}

// Theming editor in admin
.cke_editable {
  padding: 10px 20px;
}

/**
 * Styles for the content of pages and nodes
 */

.field-name-body {
  iframe {
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
  img {
    max-width: 100%;
  }
}

.field-person {
  margin-bottom: 15px;
}

/**
 * Space after view-filters
 * on resources page and projects page
 */

.view-filters {
  position: absolute;
  top: -80px;
  right: 15px;
}

.view-header {
  margin-bottom: 30px;
}