@charset "UTF-8";


.header {
  h1 {
    margin-top: 20px;
    @media only screen and (max-width: $screen-xs-max) {
      float: left;
      z-index: 20;
    }
  }
}

.logo {
  img {
    max-width: 100px;
    @media only screen and (min-width: $screen-sm-min) {
      max-width: 160px;
    }
  }
}

.navigations {
  margin-top: 20px;
  .navbar {
    margin-bottom: 18px;
  }
}

// this is to make readmore links position relative to their views container
.container {
  position: relative;
}