.bg-chrome-white {
  background: $wild-sand-variant;
  margin: -50px -4%;
  padding: 50px 4%;
}

.smoky {
  background: $chrome-white;
}

.ac-wild-sand {
  background: $wild-sand;
}

.ac-green {
  background: $brand-success;
}

.ac-blue {
  background: $pacific-blue;
}

.ac-rose {
  background: $french-rose;
}

.ac-orange {
  background: $burnt-orange;
}

.spacer {
  margin-top: 2em;
  display: block;
}
.big-spacer {
  margin-top: 5em;
  display: block;
}

.small-spacer {
  margin-top: 0.5em;
  display: block;
}

.no-border {
  border: none;
}

.text-white {
  color: #fff;
}

.text-vivid-violet {
  color: $vivid-violet;
}

.margin-right {
  margin-right: 15px;
}

.margin-left {
  margin-left: 80px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/**
 * Special
 */
hr.separator {
  margin-top: 10px;
  margin-bottom: 35px;
  border-top: 2px solid $chrome-white;
}
