/*doc
---
title: Link
name: link
category: A Capella - Link
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Link | URL | ✔ | ✔ |
| Body + Excerpt | Body | ✔ | ✔ |

*/