/*doc
---
title: Link
name: a-link
category: A Capella - Link
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Link | URL | ✔ | ✔ |
| Body + Excerpt | Body | ✔ | ✔ |

*/

/*doc
---
title: Teaser Display
name: b-link
category: A Capella - Link
---

```html_example
<a href="#">Link</a>
```

*/