@charset "UTF-8";


/*doc
---
title: Person
name: person
category: A Capella - Person
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Role | Text | ✔ | ✔ |
| Image | Image | ✔ | ✔ |
| Body + Excerpt | Body | ✔ |  |
| Phone | Texte | ✔ |  |
| Email | Texte | ✔ |  |

*/

.person {
  .media-left {
    img {
      max-width: 120px;
    }
  }
  .field-label {
    @extend strong;
  }
  .field-phone,
  .field-email {
    margin-left: 15px;
  }
}