/*doc
---
title: Person
name: person
category: A Capella - Person
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Role | Text | ✔ | ✔ |
| Image | Image | ✔ | ✔ |
| Body + Excerpt | Body | ✔ |  |
| Phone | Texte | ✔ |  |
| Email | Texte | ✔ |  |

*/