@charset "UTF-8";


/*doc
---
title: Project
name: a-project
category: A Capella - Project
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Featured | Boolean | | |
| Archive | Boolean | | |
| Image | Image | ✔ | |
| Featured Image | Image | | ✔ |
| Intro | Text | | ✔ |
| Body + Excerpt | Body | ✔ | ✔ |
| Images | Image | ✔ | ✔ |
| Activate Donations | Boolean | | |
| Amount Goal | Decimal | ✔ | |
| Current Amount | Decimal | ✔ | |
| Paypal ID | Text | ✔ | |
| Resources | Entity Reference (multiple) | ✔ | |
| Team | Entity Reference (multiple) | ✔ | |
| Partners | Entity Reference (multiple) | ✔ | |

*/

/*doc
---
title: Teaser Display
name: b-project
category: A Capella - Project
---

```html_example
<div class="col-sm-6">
  <div class="thumbnail">
    <a href="#" class="clearfix">
      <a href="#"><img src="http://loremflickr.com/400/200/people,happy/all" alt="Some cats image"></a>
      <div class="caption">
        <h3><a href="#">Coffre à histoires</a></h3>
        <p>Projet destiné aux 2 - 6 ans fréquentant des structures d'accueil de la petite enfance ou les deux premières années de la scolarité obligatoire...</p>
        <p>
          <a href="#" class="btn btn-success">Faire un don</a>
          <a href="#" class="btn btn-link">Détails</a>
        </p>
      </div>
    </a>
  </div>
</div>
```

*/

/*doc
---
title: Full Display
name: c-project
category: A Capella - Project
---

The full display is composed by several elements.

```html_example
<div class="row">
  <div class="content col-md-8 col-md-offset-2">
    <div class="spacer"></div>

    <p class="lead">Projet destiné aux 2 - 6 ans fréquentant des structures d'accueil de la petite enfance ou les deux premières années de la scolarité obligatoire.</p>

    <div class="well">
      <form class="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="acapella_project_CAH">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="CHF">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
        <input type="submit" value="Je donne pour ce projet!" name="submit" class="btn btn-success" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
      <p>Versement par Paypal. A partir de CHF 10.-</p>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="spacer"></div>
        <p>
          Ce projet est financé à: <strong>71%</strong>
        </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 71%;">
            <span class="sr-only">71% Complete</span>
          </div>
        </div>
        <p>Partagez ce projet!</p>
        <div class="btn-group">
          <button type="button" class="btn btn-default"><i class="fa fa-facebook"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-twitter"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-google-plus"></i></button>
          <button type="button" class="btn btn-default"><i class="fa fa-linkedin"></i></button>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="spacer"></div>
        <h5>L'équipe du projet:</h5>
        <div class="small-spacer"></div>

        <ul class="media-list">
          <li class="media">
            <span class="pull-left">
              <img class="media-object img-circle" alt="Portrait de Karine Richard" src="http://loremflickr.com/60/60/people,happy/all">
            </span>
            <div class="media-body no-border">
              <p class="media-heading"><strong>Karine Richard</strong></p>
              <span>Responsable SAI / Cheffe de projet Coffre à histoires</span>
            </div>
          </li>
          <li class="media">
            <span class="pull-left">
              <img class="media-object img-circle" alt="Portrait de Jean-Luc Nicoulin" src="http://loremflickr.com/60/60/people,happy/all">
            </span>
            <div class="media-body no-border">
              <p class="media-heading"><strong>Jean-Luc Nicoulin</strong></p>
              <span>Coordinateur</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="spacer"></div>

    <div class="row">
      <div class="col-sm-12">
        <p>Dès le plus jeune âge, la fréquentation des autres enfants est importante pour l’intégration sociale et le développement du langage. Ceci est vrai pour les enfants normo-entendants.&nbsp;C’est d’autant plus vrai pour les enfants présentant une surdité. Pour les pairs normo-entendants, la confrontation à la différence est source d’enrichissement. Ces premiers pas intégratifs doivent bénéficier d’un soutien approprié.</p>
        <p>...</p>
      </div>
    </div>
    <div class="spacer"></div>

    <div class="well">
      <form class="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="acapella_project_CAH">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="CHF">
        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
        <input type="submit" value="Je donne pour ce projet!" name="submit" class="btn btn-success" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
      <p>Versement par Paypal. A partir de CHF 10.-</p>
    </div>
  </div>
</div>
```

*/