/*doc
---
title: Resource
name: a-resource
category: A Capella - Resource
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✔ | ✔ |
| Featured | Boolean | | |
| Body + Excerpt | Body | ✔ | ✔ |
| Type | List | ✔ | ✔ |
| File | File | ✔ | |
| Link | URL | ✔ | |

*/

/*doc
---
title: Teaser Display
name: b-resource
category: A Capella - Resource
---

Refer to [media-list object](components_-_media.html#b-media-list).

*/